<section class="section-general about-us">
  <div class="container about-us-container">
    <div class="about">
      <h2 class="us">About us</h2>
      <ul class="welcome">
        <p>
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </p>
        <p>
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device – it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </p>
      </ul>
      <a href="#catalog" class="vc">View catalog</a>
    </div>
    <div class="premium">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/about-us/clock-desk-min.jpg,
            /img/about-us/clock-desk@2x-min.jpg
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/about-us/clock-tablet-min.jpg,
            /img/about-us/clock-tablet@2x-min.jpg
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/about-us/clock-mob-min.jpg,
            /img/about-us/clock-mob@2x-min.jpg
          "
        />
        <img
          src="/img/about-us/clock-mob-min.jpg"
          alt=""
          width="335"
          height="446"
        />
      </picture>
    </div>
  </div>
</section>
