<section class="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <sourse
            srcset="
          /img/catalog/clock-pc-1.jpg 1x,
          /img/catalog/clock-pc-1-2x.jpg 2x"
            media="(min-width: 1200px)"
          ></sourse>
          <sourse
            srcset="
          /img/catalog/clock-tab-1.jpg 1x,
          /img/catalog/clock-tab-1-2x.jpg 2x"
            media="(min-width: 768px)"
          ></sourse>
          <sourse
            srcset="
          /img/catalog/clock-mob-1.jpg 1x,
          /img/catalog/clock-mob-1-2x.jpg 2x"
            media="(max-width: 767px)"
          ></sourse>
          <img
            class="catalog-img"
            src="/img/catalog/clock-pc-1.jpg"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
            width="304"
          />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-text">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <sourse
            srcset="
          /img/catalog/clock-pc-2.jpg 1x,
          /img/catalog/clock-pc-2-2x.jpg 2x
          "
            media="(min-width: 1200px)"
          ></sourse>
          <sourse
            srcset="
          /img/catalog/clock-tab-2.jpg 1x,
          /img/catalog/clock-tab-2-2x.jpg 2x"
            media="(min-width: 768px)"
          ></sourse>
          <sourse
            srcset="
            /img/catalog/clock-mob-2.jpg 1x,
            /img/catalog/clock-mob-2-2x.jpg 2x"
            media="(max-width: 767px)"
          ></sourse>
          <img
            class="catalog-img"
            src="/img/catalog/clock-pc-2.jpg"
            alt="Garmin Marq Athlete"
            width="304"
          />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <sourse
            srcset="
          /img/catalog/clock-pc-3.jpg 1x,
          /img/catalog/clock-pc-3-2x.jpg 2x"
            media="(min-width: 1200px)"
          ></sourse>
          <sourse
            srcset="
            /img/catalog/clock-tab-3.jpg 1x,
            /img/catalog/clock-tab-3-2x.jpg 2x"
            media="(min-width: 768px)"
          ></sourse>
          <sourse
            srcset="
            /img/catalog/clock-mob-3.jpg 1x,
            /img/catalog/clock-mob-3-2x.jpg 2x"
            media="(max-width: 767px)"
          ></sourse>
          <img
            class="catalog-img"
            src="/img/catalog/clock-pc-3.jpg"
            alt="Garmin Descent MK1"
            width="304"
          />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
          <p class="catalog-text">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <sourse
            srcset="
            /img/catalog/clock-pc-4.jpg 1x,
            /img/catalog/clock-pc-4-2x.jpg 2x"
            media="(min-width: 1200px)"
          ></sourse>
          <sourse
            srcset="
            /img/catalog/clock-tab-4.jpg 1x,
            /img/catalog/clock-tab-4-2x.jpg 2x"
            media="(min-width: 768px)"
          ></sourse>
          <sourse
            srcset="
            /img/catalog/clock-mob-4.jpg 1x,
            /img/catalog/clock-mob-4-2x.jpg 2x"
            media="(max-width: 767px)"
          ></sourse>
          <img
            class="catalog-img"
            src="/img/catalog/clock-pc-4.jpg"
            alt="Garmin Descent PX"
            width="304"
          />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </li>
      <li class="catalog-item hidden-mob">
        <picture>
          <sourse
            srcset="
            /img/catalog/clock-pc-5.jpg 1x,
            /img/catalog/clock-pc-5-2x.jpg 2x"
            media="(min-width: 1200px)"
          ></sourse>
          <sourse
            srcset="
            /img/catalog/clock-tab-5.jpg 1x,
            /img/catalog/clock-tab-5-2x.jpg 2x"
            media="(min-width: 768px)"
          ></sourse>
          <sourse
            srcset="
            /img/catalog/clock-mob-5.jpg 1x,
            /img/catalog/clock-mob-5-2x.jpg 2x"
            media="(max-width: 767px)"
          ></sourse>
          <img
            class="catalog-img"
            src="/img/catalog/clock-pc-5.jpg"
            alt="Garmin Fenix 6 Pro Solar"
            width="304"
          />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </li>
      <li class="catalog-item hidden-mob">
        <picture>
          <sourse
            srcset="
            /img/catalog/clock-pc-6.jpg 1x,
            /img/catalog/clock-pc-6-2x.jpg 2x"
            media="(min-width: 1200px)"
          ></sourse>
          <sourse
            srcset="  
            /img/catalog/clock-tab-6.jpg 1x,
            /img/catalog/clock-tab-6-2x.jpg 2x"
            media="(min-width: 768px)"
          ></sourse>
          <sourse
            srcset="
            /img/catalog/clock-mob-6.jpg 1x,
            /img/catalog/clock-mob-6-2x.jpg 2x"
            media="(max-width: 767px)"
          ></sourse>
          <img
            class="catalog-img"
            src="/img/catalog/clock-pc-6.jpg"
            alt="Tube Watch S42 Date Steel With Black Case"
            width="304"
          />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-text">€395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
