<section class="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <sourse srcset="" media=""></sourse>
          <sourse srcset="" media=""></sourse>
          <sourse srcset="" media=""></sourse>
          <img class="catalog-img" src="" alt="" width="" />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle"></h3>
          <p class="catalog-text"></p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <sourse srcset="" media=""></sourse>
          <sourse srcset="" media=""></sourse>
          <sourse srcset="" media=""></sourse>
          <img class="catalog-img" src="" alt="" width="" />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle"></h3>
          <p class="catalog-text"></p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <sourse srcset="" media=""></sourse>
          <sourse srcset="" media=""></sourse>
          <sourse srcset="" media=""></sourse>
          <img class="catalog-img" src="" alt="" width="" />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle"></h3>
          <p class="catalog-text"></p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <sourse srcset="" media=""></sourse>
          <sourse srcset="" media=""></sourse>
          <sourse srcset="" media=""></sourse>
          <img class="catalog-img" src="" alt="" width="" />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle"></h3>
          <p class="catalog-text"></p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <sourse srcset="" media=""></sourse>
          <sourse srcset="" media=""></sourse>
          <sourse srcset="" media=""></sourse>
          <img class="catalog-img" src="" alt="" width="" />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle"></h3>
          <p class="catalog-text"></p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <sourse srcset="" media=""></sourse>
          <sourse srcset="" media=""></sourse>
          <sourse srcset="" media=""></sourse>
          <img class="catalog-img" src="" alt="" width="" />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle"></h3>
          <p class="catalog-text"></p>
        </div>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
