<section class="hero">
  <div class="container">Hero


    <div class="section-h">


      <h1 class="hero-h">Welcome to our collection of premium watches</h1>


<p class="hero-p">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
    

<div class="section-img-p">

  
<ul class="team-list">


  <li class="team-item"></li>


  <li class="team-item"></li>


  <li class="team-item"></li>


</ul>
    </div>




</div>
  </div>

</section>
