<section class="hero">
  <div class="container">
    Hero
    <div class="section-h">
      <h1 class="hero-h">Welcome to our <span class="hero-h-h">collection</span> of premium watches</h1>
      <p class="hero-p">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>

      <div class="section-img-p">
        <ul class="team-list">
          <li class="team-item">
            <img class="img-item" src="../img/hero/hero-1-min.jpg" alt="hero-1-min.jpg"> 
          </li>
          <li class="team-item">
            <img class="img-item" src="../img/hero/hero-2-min.jpg" alt="hero-2-min.jpg"> 
          </li>
          <li class="team-item">
            <img class="img-item" src="../img/hero/hero-3-min.jpg" alt="hero-3-min.jpg"> 
          </li>
        </ul>
        <p class="team-item-p">Scroll down</p>
      </div>
    </div>
    <div class="background">

    </div>
  </div>
</section>
