<section class="menu">
  <div class="container">
    <button type="button" class="menu-close">
      <svg class="menu-close-icon" width="34" height="34">
        <use href=""></use>
      </svg>
    </button>
    <nav class="menu-nav">
      <ul class="menu-list">
        <li class="menu-item">
          <a class="menu-link" href="">Home</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="">About Us</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="">Catalog</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="">Sale</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="">Reviews</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="menu-soc-list">
      <li class="menu-soc-item">
        <a class="menu-soc-link" href=""></a>
      </li>
      <li class="menu-soc-item">
        <a class="menu-soc-link" href=""></a>
      </li>
      <li class="menu-soc-item">
        <a class="menu-soc-link" href=""></a>
      </li>
    </ul>
  </div>
</section>
