<section class="reviews-section">
  <h2 class="title">Reviews</h2>
  <ul>
    <li class="images">
      <div class="hero">
        <img
          src="/src/img/John.webp"
          srcset="/src/img/John.webp 1x, /src/img/John.webp 2x"
          alt="John Wax"
          width="56"
          height="56"
          class="john"
        />
        <h3 class="text-name">John Wax</h3>
        <p class="text-list">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </div>
    </li>
    <li></li>
    <li></li>
  </ul>
</section>
