.advertisement {
  border-radius: 30px;
  background-color: #383737;
  padding: 60px 28px;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/img/advertisement.img/advert-bi-mob.png);
  background-color: #0c0c0c;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 2dppx) {
  .advertisement {
    background-image: url(/img/advertisement.img/advert-bi-mob@2x.png);
  }
}
.advertisement .section-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 28px;
}
.advertisement .title-part {
  color: rgba(251, 251, 251, 0.5);
}
.contact-btn {
  width: 160px;
  height: 48px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .advertisement {
    max-width: 768px;
    padding: 80px 64px;
    background-image: url(/img/advertisement.img/advert-bi-tab.png);
  }
  .advertisement .section-title {
    max-width: 576px;
    font-size: 48px;
    line-height: 0.9;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .advertisement {
    background-image: url(/img/advertisement.img/advert-bi-tab@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .advertisement {
    max-width: 1150px;
    padding: 80px;
    background-image: url(/img/advertisement.img/advert-bi-desk.png);
  }
  .advertisement .container {
    display: flex;
  }
  .advertisement .section-title {
    max-width: 690px;
    margin-bottom: 0;
  }
  .contact-btn {
    margin-left: auto;
  }
}
@media (min-width: 1280px) and (min-resolution: 2dppx) {
  .advertisement {
    background-image: url(/img/advertisement.img/advert-bi-desk@2x.png);
  }
}
