
/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-h {
  flex-direction: column;
  display: flex;
  margin-bottom: 28px;
}

.hero-h {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
}

.hero-h-h {
  color: #3350e9;
}

.hero-p {
  padding-top: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: rgba(12, 12, 12, 0.7);
}

.section-img-p {
  margin-bottom: 28px;
}

.team-list {
  display: flex;
}

.team-list-wrapper {
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}

.img-item {
  height: 44px;
  width: 44px;
  border-radius: 100%;
  background-color: transparent;
}

.img-1 {
  position: relative;
  flex-shrink: 3;
}

.img-2 {
  position: relative;
  flex-shrink: 2;
  left: -11px;
}

.img-3 {
  position: relative;
  flex-shrink: 1;
  left: -22px;
}

.a-scroll {
  font-size: 14px;
  line-height: 1.28;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.hero-background::before {
  background: rgba(12, 12, 12, 0.2);
}

.hero-img {
  border-radius: 30px;
  width: 100%;
  height: 336px;
  object-fit: cover;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section-h {
    margin-bottom: 0;
  }

  .hero-list {
    margin-bottom: 40px;
    width: 704px;
    display: flex;
    align-items: baseline;
  }

  .hero-h {
    width: 597px;
    font-size: 70px;
    line-height: 0.86;
  }

  .hero-p {
    width: 480px;
  }

  .section-img-p {
    margin: 0 auto;
    width: 146px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .team-list {
    padding-bottom: 180px;
    align-items: flex-end;
    width: 146px;
  }
  .team-list-wrapper {
    display: block;
  }

  .img-item {
    height: 56px;
    width: 56px;
  }

  .a-scroll {
    font-size: 20px;
    line-height: 1;
  }

  .hero-background {
    border-radius: 50px;
    width: 704px;
  }

  .hero-img {
    width: 100%;
    height: 100%;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }

  .section-h {
    flex-direction: column;
    display: flex;
    margin-right: 407px;
  }

  .hero-list {
    width: 1150px;
  }

  .hero-h {
    font-weight: 600;
    font-size: 72px;
    line-height: 0.88;
  }

  .hero-p {
    width: 480px;
    padding-top: 20px;
    font-weight: 500;
    color: rgba(12, 12, 12, 0.7);
  }

  .section-img-p {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 33%;
  }
  .team-list {
    padding-bottom: 189px;
  }

  .team-item {
    width: 60px;
  }

  .img-item {
    width: 60px;
    height: 60px;
  }
  .a-scroll {
    display: flex;
    justify-content: flex-end;
  }

  .hero-background {
    width: 1150px;
    height: 500px;
  }
}
