.hero-list {
  margin-bottom: 28px;
}
.section-h {
  flex-direction: column;
  display: flex;
  margin-bottom: 28px;
}

.hero-h {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  margin-bottom: 20px;
}

.hero-h-h {
  color: #3350e9;
}

.hero-p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
}

.section-img-p {
  align-items: flex-end;
  justify-content: space-between;
}

.team-list {
  display: flex;
}

.team-list-wrapper {
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}

.img-item {
  height: 44px;
  width: 44px;
  border-radius: 100%;
  background-color: transparent;
}

.img-1 {
  position: relative;
  flex-shrink: 3;
}

.img-2 {
  position: relative;
  flex-shrink: 2;
  left: -11px;
  flex-shrink: 1;
}
.img-2 {
  position: relative;
  flex-shrink: 1;
  left: -15px;
}

.img-3 {
  position: relative;
  flex-shrink: 1;
  left: -28px;
}

.a-scroll {
  font-size: 14px;
  line-height: 1.28;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  left: -32px;
}

.img-item {
  border-radius: 100%;
  background-color: transparent;
}

.a-scroll {
  font-size: 20px;
  line-height: 1;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  flex-shrink: 0;
}

.hero-background {
  border-radius: 30px;
}

.hero-background::before {
  background: rgba(12, 12, 12, 0.2);
}

.hero-img {
  border-radius: 30px;
  width: 100%;
  height: 366px;
  object-fit: cover;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .section-h {
    margin-bottom: 0;
    margin-right: auto;
  }

  .section-h {
    flex-direction: column;
    display: flex;
    margin-right: 0;
  }

  .hero-list {
    margin-bottom: 40px;
    width: 704px;
    display: flex;
    align-items: baseline;
    position: relative;
  }

  .hero-h {
    width: 597px;
    font-weight: 600;
    font-size: 70px;
    line-height: 0.86;
  }

  .hero-p {
    width: 480px;
  }

  .section-img-p {
    margin: 0 auto;
    width: 146px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .team-list {
    padding-bottom: 180px;
    align-items: flex-end;
    width: 146px;
  }

  .team-list-wrapper {
    display: block;
  }

  .img-item {
    height: 56px;
    width: 56px;
  }

  .a-scroll {
    font-size: 20px;
    line-height: 1;
  }

  .hero-background {
    border-radius: 50px;
    width: 704px;
    position: relative;
  }

  .hero-img {
    width: 100%;
    height: 520px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .section-h {
    flex-direction: column;
    display: flex;
    margin-right: 407px;
  }

  .hero-list {
    width: 1150px;
    display: flex;
    align-items: baseline;
  }

  .hero-h {
    width: 597px;
    font-weight: 600;
    font-size: 72px;
    line-height: 0.88;
  }

  .hero-h-h {
    color: #3350e9;
  }

  .hero-p {
    width: 480px;
    font-weight: 500;
    color: rgba(12, 12, 12, 0.7);
  }

  .section-img-p {
    width: 146px;
    align-items: flex-end;
  }

  .team-list {
    display: flex;
    padding-bottom: 189px;

    width: 100%;
  }
  .team-list-wrapper {
    display: block;
    width: 146px;
  }

  .team-item {
    min-width: 60px;
    min-height: 60px;
  }

  .img-1 {
    position: relative;
    flex-shrink: 1;
  }

  .img-3 {
    position: relative;
    flex-shrink: 1;
    left: -32px;
  }

  .img-item {
    border-radius: 100%;
    background-color: transparent;
  }

  .a-scroll {
    justify-content: flex-end;
    font-size: 20px;
    line-height: 1;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  .hero-background {
    border-radius: 50px;
    width: 1150px;
  }

  .hero-background::before {
    background: rgba(12, 12, 12, 0.2);
  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
